.container {
    width: 1000px;
    background-color: #f8f8f8;
    margin: 0 auto;
}

.header {
    background: #91a199;
    height: 150px;
    background-image: url(img/header_bgi.png);

    /*    для переворота*/
    display: flex;
    justify-content: space-between;
    /*perspective: 500px;*/
}

.logo {
    display: flex;
    align-items: center;
    margin-left: 30px;
    /*    для переворота*/
    transition: 1s;
}

.logo:hover {
    transform: rotateY(180deg);
}


.logo_img {
    /*логотип сайта - картинка*/
    height: 100px;
    float: left;
}

.menu {
    display: flex;
    align-items: center;
}

.menu li {
    width: 130px;
    line-height: 40px;
    font-style: bold;
    font-size: 22px;
    list-style-type: none;

}

.menu li a {
    color: #fff;
    text-decoration: none;
}

.menu li a:hover {
    color: #000;
    background-color: #2DB63E;
}


/*
body {
   background-color: #f8f8f8; 
}
*/

body h3 {
    /*пока заголовки h3 только на странице товара оставил общее правило*/
    color: #000;
    font-size: 18px;
    font-weight: 400;
    background-color: #eaeaea;
}

body h2 {
    /*Как правило первая надпись на страницах (после меню)*/
    color: #000;
    text-align: center;

}

.content {
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
    justify-content: center;
}

.catalog {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.lot {
    padding-right: 5px;
}

.lot p {
    text-align: center;
}

.intro {
    /*вступление на главной странице*/
    text-indent: 50px;
    text-align: justify;
}

input[type="text"],
input[type="email"] {
    height: 20px;
    width: 200px;
    font-size: 13px;
    font-family: Tahoma;
    font-style: italic;
    /*закругление углов*/
    border-radius: 8px;
}

input[name="name"] {
    /*в поле имя каждое слово с большой буквы*/
    text-transform: capitalize;
}

input[type="email"]:focus {
    /*в поле е-мейл при вводе другой цвет текста и фона*/
    color: #00f;
    background-color: #ffe400;
}

.map {
    padding: 0px;
    width: 100%;
    height: 374px;

}

.prod_img {
    /*рамка вокруг картинке на странице товара*/
    border: 2px;
    border-style: solid;
    border-color: #000;
    width: 200px;
    float: left;
    margin-right: 10px;
}

.prod_img:hover {
    /*цвет должен превратится в цвет фона*/
    border-color: transparent;
}

.button {
    display: flex;
    justify-content: center;
    clear: both;
}

.button_buy {
    border-radius: 14px;
    font: 20px Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #000;
    background-color: #7d0;
}

.button_buy:hover {
    background-color: #ff3;
}

.button_buy:active:after {
    content: "!!!";
}

.button_buy img {
    height: 35px;
    vertical-align: middle;

}

.cat_img {
    /*изображения в каталоге*/
    width: 200px;
    clear: both;
}

.t_character {
    /*стиль таблицы характеристик*/
    border-collapse: inherit;

    color: #260096;
    font-family: monospace;
    font-size: 14px;
    font-weight: 200;
    line-height: 13px;

}

.t_character td {
    /*стиль ячеек таблицы характеристик*/
    border: 1px solid #000;
    padding: 3px;
    text-align: center;

}

.t_character tr:first-child {
    /*первая строка таблицы характеристик*/
    height: 34px;
    background: #9c9c9c;
}

/*=========скругление угловых ячеек, для красоты=========*/

.t_character tr:first-child td:first-child {
    border-top-left-radius: 10px;
}

.t_character tr:first-child td:last-child {
    border-top-right-radius: 10px;
}

.t_character tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}

.t_character tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}

/*======================================================*/

textarea {
    border-width: 2px;
    border-color: #f00;
}

.shortdescription {
    /*Краткое описание товара*/
    color: #707070;
    font-size: 14px;
    font-style: italic;
    line-height: 16px;
    text-indent: 20px;
/*    display: block;*/
}

.fulldescription {
    /*Подробное описание товара*/
    color: #484343;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-indent: 20px;
}

.shortdescription:first-letter,
.fulldescription:first-letter {
    font-family: sans-serif;
    font-size: 30px;
    color: #0a0;
}

.mod li {
    /*Модификации, цвета товара*/
    list-style: circle;
    font-style: oblique;
    font-size: 14px;
    line-height: 15px;
}

.character li {
    /*Характеристики*/
    list-style-image: url(img/book.png);
    color: #260096;
    font-family: monospace;
    font-size: 14px;
    font-weight: 200;
    line-height: 13px;
}

.heading3 h3 {
    /*Заголовки разделов на странице описания товара*/
    color: #000;
    font-size: 18px;
    font-weight: 400;
    background-color: #eaeaea;
}


.footer {
    display: flex;
    justify-content: flex-end;
    box-sizing: border-box;
    padding-top: 10px;
    padding-right: 10px;
    height: 40px;
    background-color: #004A00;
    color: #52B65E;

}
